<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upscaler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% if group == 'admin' %}
        <a class="register-link" href="/register">Register</a>
        <a class="update-balance-link" href="/update_balance">Изменить баланс</a>
    {% endif %}
    {% if email %}
        <div class="balance">Баланс: <span id="balance">{{ balance }}</span> руб.</div>
        <a class="logout-link" href="/logout">Logout</a>
        <div class="email">Учетная запись: {{ email }}</div>
    {% endif %}
    <h1>Увеличение изображения</h1>
    <form id="uploadForm">
        <label for="imageUpload">Выберите изображение для увеличения (только JPG и PNG):</label>
        <input type="file" id="imageUpload" accept=".jpg, .jpeg, .png" required><br><br>

        <div id="imageSize">Размер изображения: Не выбрано</div><br><br>

        <label for="scaleFactor">Выберите коэффициент увеличения:</label>
        <select id="scaleFactor">
            <option value="2x">2x</option>
            <option value="4x">4x</option>
            <option value="8x">8x</option>
        </select><br><br>

        <label for="optimizedFor">Оптимизировать для:</label>
        <select id="optimizedFor">
            <option value="standard">Стандарт</option>
            <option value="soft_portraits">Мягкие портреты</option>
            <option value="hard_portraits">Четкие портреты</option>
            <option value="art_n_illustration">Искусство и иллюстрации</option>
            <option value="videogame_assets">Игровые ресурсы</option>
            <option value="nature_n_landscapes">Природа и пейзажи</option>
            <option value="films_n_photography">Фильмы и фотография</option>
            <option value="3d_renders">3D рендеры</option>
            <option value="science_fiction_n_horror">Научная фантастика и ужасы</option>
        </select><br><br>

        <label for="prompt">Описание изображение (промпт):</label>
        <input type="text" id="prompt" placeholder="Введите подсказку для улучшения"><br><br>

        <label for="creativity">Креативность (-10 до 10):</label>
        <input type="range" id="creativity" min="-10" max="10" value="0" oninput="document.getElementById('creativityValue').innerText = this.value">
        <span id="creativityValue">0</span><br><br>

        <label for="resemblance">Сходство (-10 до 10):</label>
        <input type="range" id="resemblance" min="-10" max="10" value="0" oninput="document.getElementById('resemblanceValue').innerText = this.value">
        <span id="resemblanceValue">0</span><br><br>

        <label for="engine">Движок/модель:</label>
        <select id="engine">
            <option value="automatic">Автоматический</option>
            <option value="magnific_illusio">Magnific Illusio</option>
            <option value="magnific_sharpy">Magnific Sharpy</option>
            <option value="magnific_sparkle">Magnific Sparkle</option>
        </select><br><br>
        <div id="imagePriceDesc" value="0"></div>
        </div>
        <button type="submit">Увеличить изображение</button>
    </form>


    <div id="result"></div>
    <button id="showPrices">Показать цены</button>
    <div id="pricesTable" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Цены на обработку изображений</h2>
            <table>
                <thead>
                    <tr>
                        <th>Размер входного изо.</th>
                        <th>Размер выходного изо.</th>
                        <th>Коэф.увел.</th>
                        <th>Цена (руб.)</th>
                    </tr>
                </thead>
                <tbody id="pricesBody">
                    <!-- Цены будут загружены сюда -->
                </tbody>
            </table>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>